<h1>Books</h1>

<h2>Title</h2>
<% @books.each do |book| %>
  <span><%= book.title %></span>
<% end %>
  <h2>Body</h2>
<% @books.each do |book| %>
  <span><%= book.body %></span>
<% end %>

<h1>New book</h1>

<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>
